.gradient {
  background: linear-gradient(45deg, #9cd3d9, #f2b749, #f2a341, #d97a43);
  background-size: 350% 350%;
  animation: colors 15s ease infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
