body {
    background-color: black;
    color: white;
}

header, footer, .footer-image{
    text-align: center;
}

.icon-top {
    width: 20%;
}

.icon {
    width: 40px;
    z-index: 3;
}

th, td ,table {
    border: 2px solid white;
    border-collapse: collapse;
    padding:15px;
    text-align: center;
    font-weight: bold;
}

main, footer{
    margin-top:20px;
    margin-bottom: 40px;
}

table {
    margin: 0 auto;
    width: 70%;
}



